*.pyc
*~
*.so
*.pyd
.*.swp
*.egg-info
.coverage
.cache
.env
MANIFEST
.pytest_cache/
.ipynb_checkpoints/
.vscode/
tmp-test-dir-with-unique-name/
coverage.xml
htmlcov
build/
dist/
doc/_build
doc/modules
doc/gallery
doc/tutorials
doc/projections
doc/api/gmt*.rst
doc/api/generated
