*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
doc/_build
doc/modules
doc/gallery
doc/api/gmt*.rst
doc/api/generated
.ipynb_checkpoints
*.egg-info
.env
MANIFEST
doc/tutorials/first-steps-*
doc/tutorials/gmt-python-*
