# Byte-compiled / optimized / DLL files
*.py[cd]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
.eggs/
MANIFEST

# Unit test / coverage reports / linter cache
.cache
.coverage
coverage.xml
htmlcov/
.flakeheaven_cache/
.pytest_cache/
results/
result_images/
tmp-test-dir-with-unique-name/

# Sphinx documentation
doc/api/generated/
doc/_build/
doc/gallery/
doc/projections/
doc/tutorials/
doc/get_started/

# Jupyter Notebook
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# Environments
.env

# Backup copies / swap files
*~
.*.swp

# macOS
.DS_Store

# Data files (tracked using dvc)
pygmt/tests/baseline/test_*.png
