name: pygmt
channels:
    - conda-forge
    - defaults
dependencies:
    # Required dependencies
    - pip
    - gmt=6.1.1
    - numpy
    - pandas
    - xarray
    - netCDF4
    - packaging
    # Development dependencies
    - black
    - blackdoc
    - codecov
    - coverage[toml]
    - docformatter
    - dvc
    - flake8
    - ipython
    - isort>=5
    - jupyter
    - make
    - matplotlib
    - myst-parser
    - pylint
    - pytest-cov
    - pytest-mpl
    - pytest>=6.0
    - sphinx
    - sphinx-copybutton
    - sphinx-gallery
    - sphinx_rtd_theme=0.4.3
