name: pygmt
channels:
    - conda-forge
    - nodefaults
dependencies:
    - python=3.12
    # Required dependencies
    - gmt=6.5.0
    - ghostscript=10.03.1
    - numpy>=1.24
    - pandas>=1.5
    - xarray>=2022.09
    - netCDF4
    - packaging
    # Optional dependencies
    - contextily
    - geopandas
    - ipython
    - rioxarray
    # Development dependencies (general)
    - dvc
    - jupyter
    - make
    - pip
    - python-build
    # Dev dependencies (style checks)
    - codespell
    - pre-commit
    - ruff>=0.3.0
    # Dev dependencies (unit testing)
    - matplotlib-base
    - pytest>=6.0
    - pytest-cov
    - pytest-doctestplus
    - pytest-mpl
    # Dev dependencies (building documentation)
    - myst-nb
    - panel
    - sphinx
    - sphinx-autodoc-typehints
    - sphinx-copybutton
    - sphinx-design
    - sphinx-gallery>=0.17.0
    - sphinx_rtd_theme
    # Dev dependencies (type hints)
    - mypy
    - pandas-stubs
