name: pygmt
channels:
    - conda-forge
    - nodefaults
dependencies:
    - python=3.12
    # Required dependencies
    - gmt=6.4.0
    - numpy>=1.22
    - pandas>=1.2.0
    - xarray
    - netCDF4
    - packaging
    # Optional dependencies
    - contextily
    - geopandas
    - ipython
    - rioxarray
    # Development dependencies (general)
    - build
    - dvc
    - jupyter
    - make
    - pip
    # Dev dependencies (style checks)
    - codespell
    - docformatter>=1.7.2
    - ruff>=0.1.9
    # Dev dependencies (unit testing)
    - matplotlib
    - pytest-cov
    - pytest-doctestplus
    - pytest-mpl
    - pytest>=6.0
    # Dev dependencies (building documentation)
    - myst-parser
    - panel
    - sphinx
    - sphinx-autodoc-typehints
    - sphinx-copybutton
    - sphinx-design
    - sphinx-gallery
    - sphinx_rtd_theme
    # Dev dependencies (type hints)
    - mypy
    - pandas-stubs
