name: pygmt
channels:
    - conda-forge
    - defaults
dependencies:
    # Required dependencies
    - pip
    - gmt=6.3.0
    - numpy>=1.19
    - pandas
    - xarray
    - netCDF4
    - packaging
    # Optional dependencies
    - geopandas
    # Development dependencies (general)
    - build
    - dvc
    - ipython
    - jupyter
    - make
    # Dev dependencies (style checks)
    - black
    - blackdoc
    - docformatter
    - flakeheaven
    - isort>=5
    - pylint
    # Dev dependencies (unit testing)
    - matplotlib
    - pytest-cov
    - pytest-doctestplus
    - pytest-mpl
    - pytest>=6.0
    # Dev dependencies (building documentation)
    - myst-parser
    - sphinx
    - sphinx-copybutton
    - sphinx-design
    - sphinx-gallery
    - sphinx_rtd_theme
