prune .dvc
prune .github*
prune ci
prune doc*
prune examples*
exclude .dvcignore
exclude .gitignore
exclude .readthedocs.yaml
exclude AUTHORSHIP.md
exclude CONTRIBUTING.md
exclude Makefile
exclude environment.yml
exclude requirements.txt
