prune .github*
prune doc*
prune examples*
exclude .gitignore
exclude .pylintrc
exclude AUTHORSHIP.md
exclude CONTRIBUTING.md
exclude MAINTENANCE.md
exclude Makefile
exclude environment.yml
exclude package.json
exclude requirements.txt
exclude vercel.json
