include README.rst
include LICENSE.txt
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include AUTHORS.md
include versioneer.py
include pygmt/_version.py
recursive-include pygmt/tests/data *
recursive-include pygmt/tests/baseline *
