# The following are required for development purposes
ipython
matplotlib
jupyter
pytest
pytest-cov
pytest-mpl
coverage
black
pylint
flake8
sphinx
sphinx_rtd_theme
nbsphinx
numpydoc
# The following are installed for checking possible conflicts
basemap
