gmt=6.0.0*
numpy
pandas
xarray
# The following are required for development purposes
ipython
matplotlib
jupyter
pytest
pytest-cov
pytest-mpl
coverage
flake8
pylint
sphinx
sphinx_rtd_theme
nbsphinx
numpydoc
twine
# The following are installed for checking possible conflicts
basemap
