# Requirements for development using conda
black
blackdoc
coverage[toml]
docformatter
flake8
ipython
isort>=5
jupyter
matplotlib
nbsphinx
pylint
pytest-cov
pytest-mpl
pytest>=6.0
sphinx
sphinx-copybutton
sphinx-gallery
sphinx_rtd_theme==0.4.3
