gmt=6.0.0*
numpy
pandas
xarray
packaging
# The following are required for development purposes
ipython
matplotlib
jupyter
pytest
pytest-cov
pytest-mpl
coverage
pylint
sphinx
sphinx_rtd_theme
nbsphinx
numpydoc
twine
# The following are installed for checking possible conflicts
basemap
# Black is not included because it requires Python 3.6
#black
