# GMT isn't included because it needs to be downloaded from a separate channel
numpy
pandas
xarray
packaging
# The following are required for development purposes
ipython
matplotlib
jupyter
pytest
pytest-cov
pytest-mpl
coverage
black
pylint
sphinx
sphinx_rtd_theme
nbsphinx
numpydoc
twine
# The following are installed for checking possible conflicts
basemap
