# Requirements for development using conda
ipython
matplotlib
jupyter
pytest>=6.0
pytest-cov
pytest-mpl
coverage[toml]
black
blackdoc
isort>=5
pylint
flake8
sphinx
sphinx_rtd_theme==0.4.3
sphinx-gallery
nbsphinx
