# Run all doctests on Linux/macOS/Windows
#
# This workflow runs all PyGMT doctests. It is scheduled to run weekly every
# Sunday.
#
name: Doctests

on:
  # push:
  #   branches: [ main ]
  pull_request:
  # Schedule weekly tests on Sunday
  schedule:
    - cron: '0 0 * * 0'

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}

    steps:
      # Cancel previous runs that are not completed
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      # Checkout current git repository
      - name: Checkout
        uses: actions/checkout@v3.5.2
        with:
          # fetch all history so that setuptools-scm works
          fetch-depth: 0

      - name: Setup Micromamba
        uses: mamba-org/provision-with-micromamba@v15
        with:
          environment-file: "ci/requirements/doctests.yml"
          extra-specs: |
            python=3.11
            gmt=6.4.0

      # Show installed pkg information for postmortem diagnostic
      - name: List installed packages
        run: micromamba list

      # Download cached remote files (artifacts) from GitHub
      - name: Download remote data from GitHub
        uses: dawidd6/action-download-artifact@v2.27.0
        with:
          workflow: cache_data.yaml
          workflow_conclusion: success
          name: gmt-cache
          path: .gmt

      # Move downloaded files to ~/.gmt directory and list them
      - name: Move and list downloaded remote files
        run: |
          mkdir -p ~/.gmt
          mv .gmt/* ~/.gmt
          # Change modification times of the two files, so GMT won't refresh it
          touch ~/.gmt/server/gmt_data_server.txt ~/.gmt/server/gmt_hash_server.txt
          ls -lhR ~/.gmt

      # Install the package that we want to test
      - name: Install the package
        run: make install

      # Run the doctests
      - name: Run doctests
        run: make doctest PYTEST_EXTRA="-r P"
