# This workflow installs PyGMT and runs tests with old GMT versions

name: GMT Legacy Tests

on:
  # push:
  #   branches: [ main ]
  # pull_request:
    # types: [ready_for_review]
    # paths-ignore:
    #  - 'doc/**'
    #  - 'examples/**'
    #  - '*.md'
    #  - 'README.rst'
    #  - 'LICENSE.txt'
    #  - '.gitignore'
  # Schedule tests on Tuesday
  schedule:
    - cron: '0 0 * * 2'

jobs:
  test:
    name: ${{ matrix.os }} - GMT ${{ matrix.gmt_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8']
        os: [ubuntu-20.04, macOS-11, windows-2019]
        gmt_version: ['6.3']
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}

    steps:
      # Cancel previous runs that are not completed
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      # Checkout current git repository
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          # fetch all history so that setuptools-scm works
          fetch-depth: 0

      # Install Mambaforge with conda-forge dependencies
      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
          activate-environment: pygmt
          python-version: ${{ matrix.python-version }}
          channels: conda-forge,nodefaults
          channel-priority: strict
          miniforge-version: latest
          miniforge-variant: Mambaforge
          mamba-version: "*"
          run-post: false
          use-mamba: true

      # Install GMT and other required dependencies from conda-forge
      - name: Install dependencies
        run: |
          mamba install gmt=${{ matrix.gmt_version }} numpy \
                        pandas xarray netCDF4 packaging \
                        geopandas ipython \
                        build dvc fsspec==2022.11.0 make 'pytest>=6.0' \
                        pytest-cov pytest-doctestplus pytest-mpl sphinx-gallery

      # Show installed pkg information for postmortem diagnostic
      - name: List installed packages
        run: mamba list

      # Download cached remote files (artifacts) from GitHub
      - name: Download remote data from GitHub
        uses: dawidd6/action-download-artifact@v2.24.3
        with:
          workflow: cache_data.yaml
          workflow_conclusion: success
          name: gmt-cache
          path: .gmt

      # Move downloaded files to ~/.gmt directory and list them
      - name: Move and list downloaded remote files
        run: |
          mkdir -p ~/.gmt
          mv .gmt/* ~/.gmt
          # Change modification times of the two files, so GMT won't refresh it
          touch ~/.gmt/server/gmt_data_server.txt ~/.gmt/server/gmt_hash_server.txt
          ls -lhR ~/.gmt

      # Pull baseline image data from dvc remote (DAGsHub)
      - name: Pull baseline image data from dvc remote
        run: |
          dvc pull pygmt/tests/baseline/test_logo.png --verbose
          ls -lhR pygmt/tests/baseline/

      # Install the package that we want to test
      - name: Install the package
        run: make install

      # Run the tests but skip images
      - name: Run tests
        run: make test_no_images PYTEST_EXTRA="-r P"
