# Test PyGMT with GMT legacy versions on Linux/macOS/Windows
#
# This workflow runs regular PyGMT tests with GMT legacy versions. Due to the minor
# baseline image changes between GMT versions, the workflow only runs the tests but
# doesn't do image comparisons.
#
# It is scheduled to run every Tuesday on the main branch.
#
name: GMT Legacy Tests

on:
  # push:
  #   branches: [ main ]
  # Uncomment the 'pull_request' line below to trigger the workflow in PR
  # pull_request:
    # types: [ready_for_review]
    # paths:
    #  - 'pygmt/**'
    #  - '.github/workflows/ci_tests_legacy.yaml'
  workflow_dispatch:
  # Schedule tests on Tuesday
  schedule:
    - cron: '0 0 * * 2'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions: {}

jobs:
  test:
    name: ${{ matrix.os }} - GMT ${{ matrix.gmt_version }}
    runs-on: ${{ matrix.os }}
    if: github.repository == 'GenericMappingTools/pygmt'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-14, windows-2022]
        gmt_version: ['6.5']
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}

    steps:
      # Checkout current git repository
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          # fetch all history so that setuptools-scm works
          fetch-depth: 0
          persist-credentials: false

      # Install Micromamba with conda-forge dependencies
      - name: Setup Micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
        with:
          environment-name: pygmt
          create-args: >-
            python=3.12
            gmt=${{ matrix.gmt_version }}
            ghostscript
            numpy=2.0
            pandas=2.2
            xarray=2024.5
            packaging=24.2
            contextily=1.5
            geopandas=1.0
            ipython
            pyarrow-core=16
            rioxarray
            sphinx-gallery
            make
            pip
            python-build
            pytest
            pytest-doctestplus
            pytest-mpl

      # Download cached remote files (artifacts) from GitHub
      - name: Download remote data from GitHub
        run: |
          # Download cached files to ~/.gmt directory and list them
          gh run download --name gmt-cache --dir ~/.gmt/
          # Change modification times of the two files, so GMT won't refresh it.
          touch ~/.gmt/gmt_data_server.txt ~/.gmt/gmt_hash_server.txt
          ls -lhR ~/.gmt
        env:
          GH_TOKEN: ${{ github.token }}

      # Install the package that we want to test
      - name: Install the package
        run: make install

      # Run the tests but skip images
      - name: Run tests
        run: make test_no_images PYTEST_EXTRA="-r P"
