# Static type checks
#
# This workflow runs static type checks using mypy.
#
# It is run on every commit to the main and pull request branches. It is also
# scheduled to run daily on the main branch.
#
name: Static Type Checks

on:
  push:
    branches: [ main ]
    paths:
      - 'pygmt/**/*.py'
      - '.github/workflows/type_checks.yml'
  pull_request:
    paths:
      - 'pygmt/**/*.py'
      - '.github/workflows/type_checks.yml'
  # Schedule daily tests
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions: {}

jobs:
  static_check:
    name: Static Type Check
    runs-on: ubuntu-latest

    steps:
      # Checkout current git repository
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.13'
          # Need to install four groups of packages:
          # 1. required packages
          # 2. optional packages
          # 3. type checker and stub packages
          # 4. other packages that are used somewhere in PyGMT
          pip-install: |
            numpy pandas xarray packaging
            contextily geopandas ipython pyarrow rioxarray
            mypy pandas-stubs pyarrow-stubs
            matplotlib pytest

      - name: List install packages
        run: python -m pip list

      - name: Static type check
        run: make typecheck
